<form name="addItemForm" ng-submit="additem()" novalidate>
  <div>
    <label for="freespaces"><b>Number of free spaces remaining: </b></label>
    <label id="freespaces"></label>
  </div>
  <div>
    <p>What do you want to add? </p>
    <input type="radio" name="add" value="Book"> Book<br>
    <input type="radio" name="add" value="DVD"> DVD<br>
  </div>
  <div>
    <label for="email">Email</label>
    <input name="email" class="form-control" type="email" id="email" placeholder="Email"
           ng-model="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" class="form-control" type="password" id="password"
           placeholder="Password" ng-model="password">

  </div>
  <button type="submit" class="btn btn-primary">Sign up!</button>
</form>
