<div class="jumbotron">
  <h2>Borrow an Item</h2>
  <form #frm="ngForm" (ngSubmit)="borrowItem(frm)" name="borrow-item-form" form.valid novalidate>
    <div class="alert alert-success" *ngIf="isSuccess">
      {{successMsg}}
    </div>
    <div class="alert alert-warning" *ngIf="!isSuccess && isSuccess != null">
      {{errMsg}}
    </div>

    <!--ngIf here triggers a ng-template based on the condition -->
    <div *ngIf="reserveOk;then reserveTemplate;">
    </div>

    <ng-template #reserveTemplate>
      <form #formReserve="ngForm" (ngSubmit)="borrowItem(formReserve)"
            name="reserve-item-form" form.valid novalidate>
        <div class="alert alert-success" *ngIf="!isSuccess">
          {{reserveMsg}}<span>
          <button type="submit" name="reserve"
                  class="btn btn-primary"
                  id="reservebtn" (click)="btnClick()">Yes</button></span>
        </div>
      </form>
    </ng-template>

    <div>
      <label for="ISBN">ISBN</label>
      <input name="ISBN" class="form-control" placeholder="Enter ISBN" type="number"
             id="ISBN" required ngModel #isbnNumber="ngModel"
             pattern="[0-9]*">
    </div>

    <!--Validation for ISBN-->
    <div *ngIf="isbnNumber?.touched && isbnNumber?.errors?.required"
         class="alert-incorrect-value">
      <span ng-bind="ISBN"></span>
      ISBN is required
    </div>

    <!--Label for Reader ID-->
    <label for="ReaderId">Reader ID : </label>
    <input type="text" class="form-control" placeholder="Enter Reader ID"
           id="ReaderId" name="ReaderId" required
           ngModel #readerId="ngModel" pattern="^[a-zA-Z0-9_]*$">

    <!--Validation for Reader ID-->
    <div *ngIf="readerId?.touched && readerId?.errors?.required"
         class="alert-incorrect-value">
      <span ng-bind="ReaderId"></span>
      Reader ID is required
    </div>
    <br>
    <button type="reset" name="clear" class="btn btn-primary" id="clearbtn">Clear Form</button>
    <button type="submit" name="submit" class="btn btn-primary" [disabled]="frm.invalid" id="submitbtn1">Submit</button>

  </form>
</div>
