<div class="jumbotron">

  <h2>Delete an Item</h2>
<!--This is the start of the delete item form-->
 <form #frm="ngForm" (ngSubmit)="deleteItem(frm)"
      name="delete-item-form" form.valid novalidate>

   <!--This div is only showed when deletion is complete-->
    <div class="alert alert-success" *ngIf="isSuccess">
    {{successMsg}}
    </div>

   <!--This div is only showed when -->
    <div class="alert alert-warning"
       *ngIf="!isSuccess && isSuccess != null">
    {{successMsg}}
    </div>

   <div class="form-group">
    <div>
      <label for="ISBN">ISBN</label>
      <input name="ISBN" class="form-control"
           placeholder="Enter ISBN" type="number"
           id="ISBN" required ngModel #isbnNumber="ngModel"
           pattern="[0-9]*">
    </div>

    <!--Validation for ISBN-->
    <div *ngIf="isbnNumber?.touched && isbnNumber?.errors?.required"
       class="alert-incorrect-value">
      <span ng-bind="ISBN"></span>
      ISBN is required
    </div>

    <br/>

      <div>
        <p>Available free space :</p>
        <ul>
          <li>Books - {{bookFreeSpace}}</li>
          <li>DVDs - {{dvdFreeSpace}}</li>
        </ul>
      </div>

    <br>
    <button type="reset" name="clear" class="btn btn-primary"
          id="clearbtn">Clear</button>

    <button type="submit" name="submit" class="btn btn-primary"
          id="submitbtn" [disabled]="frm.invalid">Submit</button>
    </div>
  </form>
</div>
