<div class="jumbotron">
  <h2>Return an Item</h2>
  <form #frm="ngForm" (ngSubmit)="returnItem(frm)" name="return-item-form" form.valid novalidate>
    <!--Label for ISBN-->
    <div>
      <label for="ISBN">ISBN</label>
      <input name="ISBN" class="form-control" placeholder="Enter ISBN" type="text"
             id="ISBN" required ng-model="isbn" ngModel #isbnNumber="ngModel"
             pattern="[0-9]*">
    </div>

    <!--Validation for ISBN-->
    <div *ngIf="isbnNumber?.touched && isbnNumber?.errors?.required"
         class="alert-incorrect-value">
      <span ng-bind="ISBN"></span>
      ISBN is required
    </div>

    <br>
    <button type="reset" name="clear" class="btn btn-primary" id="clearbtn">Clear Form</button>
    <button type="submit" name="submit" class="btn btn-primary" id="submitbtn" [disabled]="frm.invalid">Submit</button>

  </form>
</div>
